<div class="container">
    <div class="container-answer">
        <ng-container #containerAnswer>
        </ng-container>
    </div>
    <div class="container-question">
        <ng-container #containerQuestion>
        </ng-container>
    </div>
    <div  class="container-preview">
        <ng-container #containerPreview>
        </ng-container>
    </div>
</div>
<div  class="container-next-preview">
    <ng-container #containerNextPreview>
    </ng-container>
</div>

<style>
    :host {
        overflow: hidden;
        max-height: 100vh;
        display: block;
    }

    .container{
        background-color: lightcoral;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .container-question,
    .container-preview {
        flex: 1 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .container-answer {
        flex: 1 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        flex-direction: column;
        overflow: hidden;
    }

    :host .container-answer /deep/ app-test-plug {
        position: relative;
        margin-bottom: 5vh;
    }

    .container-next-preview {
        display: flex;
        justify-content: center;
        position: relative;
    }

    .container-question {
        background-color: rgb(186, 192, 194);
    }

    :host /deep/ app-test-plug {
        position: absolute;
        display: block;
        width: 350px;
        min-height: 110px;
        transition: transform 2s;
    }
    </style>
